MASTER_TOKEN=newser_laredo_2026

OPENWEATHER_API_KEY=
WEATHERAPI_KEY=
TOMORROW_IO_KEY=
VISUAL_CROSSING_KEY=
ACCUWEATHER_KEY=
ACCUWEATHER_LOCATION_KEY=
AIR_QUALITY_API_KEY=

ENVIRONMENT=production
DEBUG=False
MIN_RAM_MODE=True
LOG_LEVEL=INFO
