MASTER_TOKEN=newser_laredo_2026

OPENMETEO_API_KEY=c590c2c3c63610c40669ca16f5397b84
OPENWEATHER_API_KEY=
WEATHERAPI_KEY=425e62ddbc30460a8b4135534262004
VISUAL_CROSSING_KEY=Y6TGUGJGC54ZN7Y2EFBSF8PBH
ACCUWEATHER_KEY=
ACCUWEATHER_LOCATION_KEY=
AIR_QUALITY_API_KEY=
WEATHERBIT_KEY=
PIRATE_WEATHER_KEY=
WORLD_WEATHER_ONLINE_KEY=
QWEATHER_KEY=
AERISWEATHER_KEY=
CLIMACELL_KEY=

ENVIRONMENT=production
DEBUG=False
MIN_RAM_MODE=True
LOG_LEVEL=INFO
